black
cellpose
czifile
deepblink
flake8
jupyter
keras
luigi
matplotlib
notebook
numba
numpy
pandas
plotly
pyarrow
pystackreg
scikit-image
scipy
seaborn
segmentation-models==1.0.1
tensorflow
tifffile==2020.9.3
torch
tqdm
trackpy